@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/text.css");
body{
	font-family: 'Roboto';
	font-size: 18px;
	margin: 0px;
	color: #2D2926;
}
h1 {
	color: white;
}
h2,h3{
	font-family: 'Roboto';
	color: #1CABE2;
	font
}
h5,h6{
	color: #2D2926;
}
a {
	text-decoration: none;
}